/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


tr:hover {
  color: #fff;
  background: #b6b2b2;
  border-radius: 2rem;
}


body{
  font-family: helvetica neue lt,sans-serif;
}

.close{
  width: 1em;
  height: 1em;
  border: 0;
}
